.clients {
  position: absolute;
  width: 1633.14px;
  height: 424.1px;
  left: -97px;
  top: 3885px;
  
}
.h1 {
  position: absolute;
  width: 101px;
  height: 42px;
  left: 669px;
  top: 3885px;

  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  /* identical to box height, or 42px */

  text-align: center;

  color: #2e3057;
}
.h2 {
  position: absolute;
  width: 266px;
  height: 30px;
  left: 587px;
  top: 3937px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  text-align: center;

  color: #333333;
}

.c1 {
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 107px;
  top: 114px;
}
.c2 {
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 329.57px;
  top: 114px;
}
.c3 {
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 552.14px;
  top: 114px;
}
.c4 {
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 774.71px;
  top: 114px;
}
.c5{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 997.28px;
  top: 114px;
}
.c6 {
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 1220px;
  top: 114px;
}
.c7 {
  position: absolute;
  /* width: 142.66px; */
  height: 51.88px;
  left: 1466.52px;
  top: 135.7px;
}
.c8 {
  position: absolute;
  /* width: 190.57px;  */
  height: 89.14px;
  left: 90px;
  top: 224px;
}
.c9{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 222.57px; 
  top: 224.45px;
  
}
.c10{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 445.74px; 
  top: 224.45px;
  
}
.c11{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 667.71px; 
  top: 224.45px;
  
}
.c12{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 890.28px; 
  top: 224.45px;
  
}
.c13{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 1113px; 
  top: 225.06px;
  
}
.c14{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 1335.57px; 
  top: 225px;
  
}
.c15{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 107px; 
  top: 335px;
  
}
.c16{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 330px; 
  top: 335px;
  
}
.c17{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 552px; 
  top: 335px;
  
}
.c18{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 775px; 
  top: 335px;
  
}
.c19{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 998px; 
  top: 335px;
  
}
.c20{
  position: absolute;
  width: 190.57px;
  height: 89.14px;
  left: 1220px; 
  top: 335px;
  
}

